<%= form_for(@poker_night) do |f| %>
  <% if @poker_night.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@poker_night.errors.count, "error") %> prohibited this poker_night from being saved:</h2>

      <ul>
      <% @poker_night.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.datetime_select :date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
